<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Omar Ihab Hamed Handouk & Ahmed Abd-Elaziz">
<meta name="description" content="IBM Cloud Cloudant Service Integration via NodeJS">
<meta name="keywords" content="Cloud, IBM, Call for Code">
<link href='/CSS/style.css' rel='stylesheet' type='text/css'>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Cloudant Integration |
    <%= directory %>
</title>