<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <form action="/remove?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="text" name="requestID" placeholder="Enter Report ID">
        <input type="submit" value="Submit Deletion">
    </form>

    <% if(ID != null){ %>
        <p> ID:
            <%= ID %>
        </p>
        <p> OK:
            <%= OK %>
        </p>
        <p> Revision:
            <%= Revision %>
        </p>
        <% } %>  
        <% if(Error != null){ %>
            <p>Error:
                <%= Error %>
            </p>
        <% } %>
</body>

</html>