<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    
    <style type="text/css">
        #map {
            width: 700px;
            height: 500px;
        }
    </style>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARZj829jcIqy8ik7UKOwIT_CynjqIe4e0&amp;libraries=places&amp;callback=initMap"></script>
    <script type="text/javascript" src="/JS/map.js"></script>
</head>

<body>
    <h1>Survival Network</h1>
    <p id="paragragh">Incident Report</p>

    <div class="container">
        <fieldset>
            <form action="/report" method="post">
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Country</label>
                    </div>
                    <div class="col-75">
                        <input name="Country" type="text" class="country" placeholder="Enter Country" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">City</label>
                    </div>
                    <div class="col-75">
                        <input name="City" type="text" class="city" placeholder="Enter a City" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="fname">Map</label>
                    </div>
                    <div class="col-75" id="map"></div>
                </div>
                
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Longitude</label>
                    </div>
                    <div class="col-75">
                        <input id="lng" name="Longitude" type="text" class="longitude" readonly="yes" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Latitude</label>
                    </div>
                    <div class="col-75">
                        <input id="lat" name="Latitude" type="text" class="latitude" readonly="yes" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Disaster</label>
                    </div>
                    <div class="col-75">
                        <input name="Disaster" type="text" class="disaster" placeholder="Enter Disaster Type" required>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="submit" value="Report Incident">
                </div>
            </form>
        </fieldset>

        <% if(requestID !== null){ %>
        <p id="result"> Status:
            <span style="color: green">
                <%= requestStatus %></span>
        </p>
        <p> Report ID:
            <span style="color: slateblue">
                <%= requestID %></span>
        </p>
        <p> Revision:
            <span style="color: slateblue">
                <%= revision %></span>
        </p>
        <% } %>

        <% if(error !== null){ %>
        <p>
            <%= error %>
        </p>
        <% } %>

        <p>&copy; 2018 Survival Network <p></p>
    </div>
</body>

</html>